.question_form{
    background-color: #f4f4f9;
    height: 100%;
    padding-bottom: 30px;
}
.section{
    margin: auto;
    width: 50%;
}
.question_form_top{
    background-color: white;
    border-top: 8px solid rgb(103,58, 183);
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;
}
.question_form_top_name{
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f4f4f9;
    color: black;
    height: 35px;
}
.question_form_top_desc{
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f4f4f9;
    color: black;
    height: 20px;
}
.question_boxes{
    display: flex;
    flex-direction: row;
}
.add_question{
    background-color: white;
    border-radius: 8px;
    padding: 25px 22px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    width: 93px;
    margin-left: 10px;

}
.add_question_top {
    display: flex;
    position: relative;
    /* display: inline-flex; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 629px;
}
.question{
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    flex: 1;
    line-height: 40px;
    width: 40%;
    border: none;
    outline: none;
    color: black;
    height: 40px;
    margin-right: 10px;
    line-height: 10px;
    padding: 10px;
}
.question:focus{
    border-bottom: 1px solid rgb(103,58, 183);
    background-color: #f4f4f9;
}
.select{
    height: 40px;
    width: 230px;
    padding: 5px 15px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border: 1.5px solid #f4f4f9;
    border-radius: 3px;
    background: transparent;
}
.menuitem{
    color: rgb(118,118,118,0.3);
}
.add_question_body{
    display: flex;
    align-items: center;
}
.text_input{
    border: none;
    outline: none;
    height: 40px;
    width: 490px;
    font-size: 13px;
    font-weight: 400;
    color: #202124;
}
.text_input:focus{
    border-bottom: rgb(103,58, 183);
}
.add_footer {
    display: flex;
    justify-content: space-between;
  }
  
  .add_question_bottom_left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
    border-top: 1px solid rgb(118,118,118,0.3);
  }
  

.add_question_bottom {
    margin-left: 294px;
    /* padding-right: 7px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
    border-top: 1px solid rgb(118,118,118,0.3);
}
.question_edit {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    margin-left: 573px;
    margin-top: 62px;
    margin-bottom: 0;
    border-radius: 3px;
    height: 180px;
    width: 55px;
    justify-content: space-evenly;
}
.edit{
    color: #5f6368;
    /* padding: 8px 5px; */
    height: 30px;
    width: 30px;
    margin-left: 13px;
}
.add_border{
border-left: 6px solid #4285f4;
}
.add_question_answer{
    background-color: white;
    border-radius: 8px;
    padding: 25px 22px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    width: 93px;
    margin-left: 10px;

}
.add_question_top_answer {
    display: flex;
    position: relative;
    /* display: inline-flex; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 629px;
}
.question_answer{
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    flex: 1;
    line-height: 40px;
    width: 40%;
    border: none;
    outline: none;
    color: black;
    height: 40px;
    margin-right: 10px;
    line-height: 10px;
    padding: 10px;
}
.add_question_body_answer{
    display: flex;
    align-items: center;
}

.add_question_bottom_answer {
    margin-left: 294px;
    /* padding-right: 7px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
    border-top: 1px solid rgb(118,118,118,0.3);
}